


    .style1 
    {
        color: red;
        background-color: aqua;
    }

    .style2 
    {
        color: purple;
    }

    .style3
    {
        color: green;
    }

    .style4 
    {
        color: yellow;
    }

    .style5 
    {
        color:white;
        background-color: black;
    }

    .style6 
    {
        color: green;
        background-color: gray;
    }